body {
  background-image: url("https://images.unsplash.com/photo-1511895307821-692dc4ad27c5?q=80&w=1370&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  color: #333;
  font-family: Arial, sans-serif;
  margin: 0;
}

.container {
  max-width: 800px;
  min-height: 60vh;
  max-height: 900px;
  margin: 20px auto;
  padding: 20px;
  background-image: url("https://images.unsplash.com/photo-1695058703491-4254e8b9c073?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTQ0fHxmb25kbyUyMGRlJTIwbmF2aWRhZHxlbnwwfHwwfHx8Mg%3D%3D");
  background-size: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.subcontainer {
  max-width: 600px;
  min-height: 60vh;
  max-height: 700px;
  margin: 10px auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.698);
}

h1,
h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.textCenter {
  text-align: center;
}

.containerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.msgnull {
  display: none;
}

.error {
  display: block;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  padding: 15px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contHeader {
  display: flex;
  justify-content: space-around;
}

.contIcon {
  display: flex;
  align-items: center;
}

.imgIcon {
  width: 30px;
  /* Ajusta el tamaño según lo necesites */
  height: auto;
  display: block;
  margin: 0 auto;
  /* Centra la imagen horizontalmente */
  margin-left: 5px;
}

input {
  border: 1px solid #ced4da;
  padding: 10px;
  border-radius: 5px;
  width: calc(100% - 22px);
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

button {
  background-color: #1eb723;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

.cerrarSesion {
  background-color: #d12727;
}

.cerrarSesion:hover {
  background-color: #a04545;
}

.mostrarAmigo {
  background-color: #cabc19;
}

.mostrarAmigo:hover {
  background-color: #a09a45;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 15px;
}

hr {
  border: 1px solid #eee;
}

.nombreAmigo {
  text-align: center;
  font-size: 3em;
  font-weight: bold;
  animation: colorChange 5s infinite;
}

@keyframes colorChange {
  0% {
    color: red;
  }

  20% {
    color: orange;
  }

  40% {
    color: yellow;
  }

  60% {
    color: green;
  }

  80% {
    color: blue;
  }

  100% {
    color: purple;
  }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #007bff;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer p {
  margin: 0 10px;
  font-size: 16px;
}

.footer a {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.footer img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.footer img:hover {
  transform: scale(1.1);
}

.textform {
  margin-bottom: 10px;
}

.textform h4,
p {
  margin: 5px 0;
}

.textform p {
  font-size: .8em;
}

/*Ajustar el header en pantallas menores a 400*/
@media (max-width: 300px) {
  .imgIcon {
    width: 20px;
  }

  .footer p {
    font-size: .5em;
  }

  .footer img {
    width: 15px;
    height: 15px;
  }

  .footer a {
    margin-left: 0;
    margin-right: 10px;
  }
}

@media (max-width: 450px) {
  .contHeader {
    flex-direction: column;
    align-items: center;
  }

  .contHeader h1 {
    font-size: 1.5em;
  }

  .imgIcon {
    width: 20px;
  }
}